.layout-wrapper {
    padding: 0; }

.layout-wrapper .layout-sidebar {
    position: fixed;
    width: 300px;
    height: 100%;
    z-index: 999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s;
    background: #f3f4f9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f4f9), color-stop(100%, #d7dbe8));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f3f4f9 0%, #d7dbe8 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f3f4f9 0%, #d7dbe8 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16); }

.layout-wrapper .layout-topbar {
    left: 0;
    position: fixed;
    height: 50px;
    padding: 0em;
    /* padding: .7em 1.5em 0em 1.5em; */
    color: #ffffff;
    z-index: 999;
    right: 0;
    /* background: #0388E5; */
    /* Old browsers */
    /* background: -moz-linear-gradient(left, #0388E5 0%, #07BDF4 100%); */
    /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0388E5), color-stop(100%, #07BDF4)); */
    /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(left, #0388E5 0%, #07BDF4 100%); */
    /* Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(left, #0388E5 0%, #07BDF4 100%); */
    /* Opera 11.10+ */
    /* background: -ms-linear-gradient(left, #0388E5 0%, #07BDF4 100%); */
    /* IE10+ */
    /* background: linear-gradient(to right, #0388E5 0%, #07BDF4 100%); */
    /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$left, endColorstr=$right,GradientType=1 ); */
    /* IE6-9 */
    -moz-transition: left 0.2s;
    -o-transition: left 0.2s;
    -webkit-transition: left 0.2s;
    transition: left 0.2s; }
    
    
.layout-wrapper .layout-main {
    -moz-transition: margin-left 0.2s;
    -o-transition: margin-left 0.2s;
    -webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
    padding: 66px 16px 16px 16px; }

.layout-wrapper .layout-main, .layout-wrapper.layout-static .layout-footer {
    margin-left: 300px; }

/* Responsive */
@media (min-width: 1025px){
    .layout-wrapper .layout-sidebar {
        left: 0;
        margin-top: 47px; }
      .layout-wrapper .layout-topbar {
        left: 0px;
        top:0px; }
    .layout-wrapper .layout-main, .layout-wrapper.layout-static .layout-footer {
        margin-left: 300px; }
    .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-main, .layout-wrapper.layout-static.layout-static-sidebar-inactive .layout-footer {
        margin-left: 0; }
}

@media (max-width: 1024px) {
    .layout-wrapper .layout-topbar {
        left: 0; }
    .layout-wrapper .layout-main, .layout-wrapper .layout-footer {
        margin-left: 0; }
    .layout-wrapper .layout-sidebar {
        left: 0px;
        margin-top: 47px; }
    
}