.login form{
    text-align: center;
    width: 30%;
    margin-left: 35%;
    border: 2px solid crimson;
    border-radius: 25px;
    padding: 50px;
}

td>select{
    width: 100%;
}

.login{
    padding-top: 10%;
    position: relative;
}